.window {
  margin: 50px auto;
  box-shadow: 2px 2px 4px gray;
  width: 400px;
  height: 380px;
  border: 1px solid #bbb;
  border-radius: 8px;
  overflow: hidden;
}
.images {
  position: relative;
  width: 400px;
  height: 300px;
  cursor: pointer;
  display: flex;
  transition: all 0.3s;
}

.buttons,.changePicture {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.buttons span  {
  margin-left: 10px;
  padding: 8px;
}
.changePicture span{
  padding: 8px 16px;
}

